:root {
  --main-bg-color: skyblue;
  --minor-bg-color: #eff2f1;
}

body {
  height: 100vh;
  background: url('../img/bg.jpg') center 100%/100% no-repeat;
  font-family: Outfit-Regular, 'Microsoft Yahei';
}

@font-face {
  font-family: Outfit-Regular;
  src: url('../font/Outfit-Regular.ttf');
}

@font-face {
  font-family: Outfit-Light;
  src: url('../font/Outfit-Light.ttf');
}
