:root {
  --main-bg-color: skyblue;
  --minor-bg-color: #eff2f1;
}

body {
  background: url('../img/main_bg_img.jpg') no-repeat center;
  background-size: cover;
  font-family: Outfit-Regular, 'Microsoft Yahei';
}

@font-face {
  font-family: Outfit-Regular;
  src: url('../font/Outfit-Regular.ttf');
}

@font-face {
  font-family: Outfit-Light;
  src: url('../font/Outfit-Light.ttf');
}
