body {
  background-color: #eff2f1;
  font-family: Outfit-Regular;
}

@font-face {
  font-family: Outfit-Regular;
  src: url('../font/Comfortaa-Bold.ttf');
}

.content_mid {
  width: 1140px;
  margin: 0 auto;
}
